/*************************************/
/* CSS Reset */
/*************************************/

* {
  padding: 0px;
  margin: 0px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

img,
svg {
  max-width: 100%;
  display: block;
}

button,
input,
textarea,
select {
  font: inherit;
}

/*************************************/
/* CSS End of Reset */
/*************************************/

* {
  background-color: black;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.gameboard {
  outline: 3px solid purple;
  width: 80%;
  max-width: 1200px;
  margin: 10vh auto;
}

.game_title {
  text-align: center;
}

.cell {
  background-color: white;
  color: black;
  border: black solid 1px;
}

/********* Dice **********/

.dice_container {
  /* outline: 3px solid yellow; */
  display: flex;
  justify-content: space-between;
  width: 60%;
  margin-left: 20%;
  gap: 20px;
}

.dice {
  /* outline: 3px solid green; */
  height: 60%;
  width: 80%;
  margin: auto;
}

.dice_combo {
  /* outline: 3px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/********* End Dice **********/

.keep {
  background-color: green;
  border-radius: 8px;
  width: 70%;
  margin: auto;
}

.hover {
  opacity: 0.5;
}

.turn {
  font-size: 20px;
}

.turn_over {
  font-size: 18px;
  color: white;
}

.player_scorecards {
  display: flex;
}

/********* Upper Section **********/

.upper_section_container {
  outline: 3px solid blue;
  width: 80%;
  margin: auto;
  display: flex;
}

.upper_section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 400px;
  width: 300px;
  border: red solid 1px;
}

/********* Lower Section **********/

.lower_section_container {
  outline: 3px solid blue;
  width: 80%;
  margin: auto;
  display: flex;
}

.lower_section {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 400px;
  width: 300px;
  border: red solid 1px;
}

.turn_roll {
  display: flex;
  margin: 20px;
  gap: 20px;
}

/********* Game Buttons **********/

.upper_btns {
  margin-top: 30px;
}

.lower_btns,
.zero_btns {
  margin-top: 50px;
}

.choose_btn {
  display: flex;
  background-color: white;
  border: red solid 1px;
  color: black;
  margin-top: 17px;
  padding: 5px;
  font-size: 10px;
  margin-left: 27px;
  margin-right: 27px;
  border-radius: 8px;
}

.choose_btn2,
.choose_btn_zero {
  display: flex;
  background-color: white;
  border: red solid 1px;
  color: black;
  margin-top: 13px;
  padding: 5px;
  font-size: 10px;
  border-radius: 8px;
}

.choose_btn_zero {
  background-color: red;
  border: white solid 1px;
}

.reset_btn {
  background-color: yellow;
  color: black;
}

.roll_btn {
  height: 30px;
  width: 70px;
  background-color: red;
  border-radius: 8px;
}

button:hover {
  cursor: pointer;
  border: cyan solid 1px;
}
