* {
  background-color: black;
  color: white;
}

.die {
  display: flex;
  gap: 40px;
}

.dice {
  width: 50px;
  height: 50px;
  border: red solid 1px;
  background-color: green;
}

.keep {
  margin-top: 20px;
  margin-left: 1px;
  background-color: green;
}

.roll_btn {
  height: 20px;
  background-color: red;
}

img {
  height: 100px;
  width: 100px;
}

.dice_combo {
  display: flex;
  flex-wrap: wrap;
  width: 50px;
}

.upper_section_1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 400px;
  width: 300px;
  border: red solid 1px;
}
.lower_section_1 {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 400px;
  width: 300px;
  border: red solid 1px;
}
.upper_section_2 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 400px;
  width: 300px;
  border: red solid 1px;
}
.lower_section_2 {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 400px;
  width: 300px;
  border: red solid 1px;
}

.cell {
  background-color: white;
  color: black;
  border: black solid 1px;
}
.upper_sections {
  display: flex;
  gap: 20px;
}
.lower_sections {
  display: flex;
  gap: 20px;
}
.player_scorecards {
  display: flex;
  gap: 300px;
}
.turn_roll {
  display: flex;
  margin: 20px;
  gap: 20px;
}
.hidden {
  color: transparent;
}
.choose_btn {
  display: flex;
  background-color: white;
  border: red solid 1px;
  color: black;
  margin-top: 17px;
  padding: 5px;
  font-size: 10px;
}
.upper_btns {
  margin-top: 30px;
}
.lower_btns {
  margin-top: 48px;
}
.choose_btn2 {
  display: flex;
  background-color: white;
  border: red solid 1px;
  color: black;
  margin-top: 13px;
  padding: 5px;
  font-size: 10px;
}
